<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="{{ url_for('static', filename='operation.css') }}" as="style">   
     <title>Operaciones Morfológicas</title>
</head>
<body class = "container">
     <header class="header">
          <div class="header--tittle--container">
              <div class="header--content--image">
                  <img src="{{ url_for('static', filename='Header.webp') }}" alt="Image_header">
              </div>            
          </div>
          <nav class="header--nav">
              <a class="header--nav--a" href="{{ url_for('main.index') }}">Parte 1-A</a>
              <a class="header--nav--a" href="{{ url_for('main.part1_b') }}">Parte 1-B</a>
              <a class="header--nav--a active" href="{{ url_for('main.operations') }}">Parte 2</a>
          </nav>
      </header>
      <main class="main">
          <div class="cont--steaming">
              <div class="cont--image--streaming">
                  <img class="streaming" src="imgs/gato.jpg" alt="Video_streaming">
              </div>            
              <div class="cont--image--streaming">
                  <img class="streaming" src="imgs/gato.jpg" alt="Video_streaming">
              </div>            
              <div class="cont--image--streaming">
                  <img class="streaming" src="imgs/gato.jpg" alt="Video_streaming">
              </div>            
          </div>
      </main>
     <footer>
          <p>Práctica Vision del computador P66</p>
     </footer>
</body>
</html>