<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="{{ url_for('static', filename='operation.css') }}" as="style">   
     <title>Operaciones Morfológicas</title>
</head>
<body class = "container">
     <header>
          <div>
               <h1>Operaciones Morfológicas</h1>
               <img src="{{ url_for('static', filename='Header.webp') }}" alt="Image_header">
          </div>
          <nav>
               <a href="{{ url_for('main.index') }}">Video Streaming</a>                              
               <a href="{{ url_for('main.operations') }}">Operaciones Morfológicas</a>
          </nav>
     </header>
     <main>
          <h2></h2>
     </main>
     <footer>
          <p>Práctica Vision del computador P66</p>
     </footer>
</body>
</html>