<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" as="style">   
     <title>Videostreaming ESP32-CAM</title>
</head>
<body class = "container">
     <header>
          <div>
               <h1>Parte 1-B</h1>
               <img src="{{ url_for('static', filename='Header.webp') }}" alt="Image_header">
          </div>
          <nav>
               <a href="{{ url_for('main.index') }}">Parte 1-A</a>                              
               <a href="{{ url_for('main.part1_b') }}">Parte 1-B</a>                              
               <a href="{{ url_for('main.operations') }}">Parte 2</a>
          </nav>
     </header>
     <main>
          <img src="{{ url_for('main.video_stream_b') }}" alt="Video_streaming">
     </main>
     <footer>
          <p>Práctica Vision del computador P66</p>
     </footer>
</body>
</html>